In [79]:
import pandas as pd
from sqlalchemy import create_engine
import pymongo
from flask import Flask
import json
import psycopg2
import sys

In [80]:
popular_breed_data = "C:/Users/jmarshall.000/Desktop/nu-chi-data-pt-04-2021-u-c/ETL-Project/Resources/AKC_Popular_Breeds_2013-2016.csv"
breed_data = "C:/Users/jmarshall.000/Desktop/nu-chi-data-pt-04-2021-u-c/ETL-Project/Resources/dog breeds_enriched_20210503.csv"
breed_data_df = pd.read_csv(breed_data)
popular_breed_data_df = pd.read_csv(popular_breed_data)

breed_data_df.dropna()
breed_data_df.head()

,Breed,Breed Group AKC,Breed Group CKC,Breed Group UKC,CKC Subgroup,height_low_inches,height_high_inches,average height,weight_low_lbs,weight_high_lbs,average weight,Lifespan Low,Lifespan High,average lifespan
0,Affenpinscher,Toy Group,Group 5: Pinschers and Schnauzers,Companion Dog,5-B: Small Pinschers and Schnauzers,9.0,12.0,10.50,8.0,12,10.0,12.0,15.0,13.5
1,Afghan Hound,Hound Group,Group 8: Sighthound Breeds,Sighthound & Pariah,8-B: Long Haired Sighthounds,25.0,27.0,26.00,50.0,60,55.0,12.0,15.0,13.5
2,Aidi,Not Recognized,Not Recognized,Guardian Dog,Not Recognized,20.0,24.5,22.25,50.0,55,52.5,12.0,13.0,12.5
3,Airedale Terrier,Terrier Group,Group 6: Terrier Breeds,Terrier,6-A: Large Terriers,22.0,24.0,23.00,45.0,45,45.0,11.0,14.0,12.5
4,Akbash Dog,Not Recognized,Group 9: Large Guardian Pastoral/Mountain Dogs,Guardian Dog,None,27.0,34.0,30.50,75.0,140,107.5,9.0,11.0,10.0

In [81]:
popular_breed_data_df.dropna()
popular_breed_data_df.head()

                 Breed  2016 Rank  2015 Rank  2014 Rank  2013 Rank
0   Labrador Retriever          1        1.0        1.0        1.0
1  German Shepherd Dog          2        2.0        2.0        2.0
2    Golden Retriever           3        3.0        3.0        3.0
3              Bulldog          4        4.0        4.0        5.0
4               Beagle          5        5.0        5.0        4.0

In [82]:
breed_data_df.columns

Index(['Breed', 'Breed Group AKC', 'Breed Group CKC', 'Breed Group UKC',
       'CKC Subgroup', 'height_low_inches', 'height_high_inches',
       'average height', 'weight_low_lbs', 'weight_high_lbs', 'average weight',
       'Lifespan Low', 'Lifespan High', 'average lifespan'],
      dtype='object')

In [83]:
popular_breed_data_df.columns

Index(['Breed', '2016 Rank', '2015 Rank', '2014 Rank', '2013 Rank'], dtype='object')

In [84]:
merged_df = pd.merge(breed_data_df, popular_breed_data_df, how ='outer', on='Breed')
merged_df.head()

,Breed,Breed Group AKC,Breed Group CKC,Breed Group UKC,CKC Subgroup,height_low_inches,height_high_inches,average height,weight_low_lbs,weight_high_lbs,average weight,Lifespan Low,Lifespan High,average lifespan,2016 Rank,2015 Rank,2014 Rank,2013 Rank
0,Affenpinscher,Toy Group,Group 5: Pinschers and Schnauzers,Companion Dog,5-B: Small Pinschers and Schnauzers,9.0,12.0,10.50,8.0,12.0,10.0,12.0,15.0,13.5,149.0,136.0,144.0,143.0
1,Afghan Hound,Hound Group,Group 8: Sighthound Breeds,Sighthound & Pariah,8-B: Long Haired Sighthounds,25.0,27.0,26.00,50.0,60.0,55.0,12.0,15.0,13.5,113.0,100.0,98.0,95.0
2,Aidi,Not Recognized,Not Recognized,Guardian Dog,Not Recognized,20.0,24.5,22.25,50.0,55.0,52.5,12.0,13.0,12.5,NaN,NaN,NaN,NaN
3,Airedale Terrier,Terrier Group,Group 6: Terrier Breeds,Terrier,6-A: Large Terriers,22.0,24.0,23.00,45.0,45.0,45.0,11.0,14.0,12.5,NaN,NaN,NaN,NaN
4,Akbash Dog,Not Recognized,Group 9: Large Guardian Pastoral/Mountain Dogs,Guardian Dog,None,27.0,34.0,30.50,75.0,140.0,107.5,9.0,11.0,10.0,NaN,NaN,NaN,NaN

In [85]:
merged_df.count()

Breed                 259
Breed Group AKC       195
Breed Group CKC       195
Breed Group UKC       195
CKC Subgroup          194
height_low_inches     195
height_high_inches    195
average height        195
weight_low_lbs        195
weight_high_lbs       195
average weight        195
Lifespan Low          194
Lifespan High         194
average lifespan      195
2016 Rank             189
2015 Rank             184
2014 Rank             184
2013 Rank             177
dtype: int64

In [86]:
clean_merged_df = merged_df.drop_duplicates(subset="Breed")
clean_merged_df.head()

,Breed,Breed Group AKC,Breed Group CKC,Breed Group UKC,CKC Subgroup,height_low_inches,height_high_inches,average height,weight_low_lbs,weight_high_lbs,average weight,Lifespan Low,Lifespan High,average lifespan,2016 Rank,2015 Rank,2014 Rank,2013 Rank
0,Affenpinscher,Toy Group,Group 5: Pinschers and Schnauzers,Companion Dog,5-B: Small Pinschers and Schnauzers,9.0,12.0,10.50,8.0,12.0,10.0,12.0,15.0,13.5,149.0,136.0,144.0,143.0
1,Afghan Hound,Hound Group,Group 8: Sighthound Breeds,Sighthound & Pariah,8-B: Long Haired Sighthounds,25.0,27.0,26.00,50.0,60.0,55.0,12.0,15.0,13.5,113.0,100.0,98.0,95.0
2,Aidi,Not Recognized,Not Recognized,Guardian Dog,Not Recognized,20.0,24.5,22.25,50.0,55.0,52.5,12.0,13.0,12.5,NaN,NaN,NaN,NaN
3,Airedale Terrier,Terrier Group,Group 6: Terrier Breeds,Terrier,6-A: Large Terriers,22.0,24.0,23.00,45.0,45.0,45.0,11.0,14.0,12.5,NaN,NaN,NaN,NaN
4,Akbash Dog,Not Recognized,Group 9: Large Guardian Pastoral/Mountain Dogs,Guardian Dog,None,27.0,34.0,30.50,75.0,140.0,107.5,9.0,11.0,10.0,NaN,NaN,NaN,NaN

In [87]:
clean_merged_df.count()

Breed                 259
Breed Group AKC       195
Breed Group CKC       195
Breed Group UKC       195
CKC Subgroup          194
height_low_inches     195
height_high_inches    195
average height        195
weight_low_lbs        195
weight_high_lbs       195
average weight        195
Lifespan Low          194
Lifespan High         194
average lifespan      195
2016 Rank             189
2015 Rank             184
2014 Rank             184
2013 Rank             177
dtype: int64

In [88]:
clean_merged_df['Average Rank'] = clean_merged_df[['2016 Rank', '2015 Rank','2014 Rank','2013 Rank']].mean(axis=1)
clean_merged_df.round(1)

,Breed,Breed Group AKC,Breed Group CKC,Breed Group UKC,CKC Subgroup,height_low_inches,height_high_inches,average height,weight_low_lbs,weight_high_lbs,average weight,Lifespan Low,Lifespan High,average lifespan,2016 Rank,2015 Rank,2014 Rank,2013 Rank,Average Rank
0,Affenpinscher,Toy Group,Group 5: Pinschers and Schnauzers,Companion Dog,5-B: Small Pinschers and Schnauzers,9.0,12.0,10.5,8.0,12.0,10.0,12.0,15.0,13.5,149.0,136.0,144.0,143.0,143.0
1,Afghan Hound,Hound Group,Group 8: Sighthound Breeds,Sighthound & Pariah,8-B: Long Haired Sighthounds,25.0,27.0,26.0,50.0,60.0,55.0,12.0,15.0,13.5,113.0,100.0,98.0,95.0,101.5
2,Aidi,Not Recognized,Not Recognized,Guardian Dog,Not Recognized,20.0,24.5,22.2,50.0,55.0,52.5,12.0,13.0,12.5,NaN,NaN,NaN,NaN,NaN
3,Airedale Terrier,Terrier Group,Group 6: Terrier Breeds,Terrier,6-A: Large Terriers,22.0,24.0,23.0,45.0,45.0,45.0,11.0,14.0,12.5,NaN,NaN,NaN,NaN,NaN
4,Akbash Dog,Not Recognized,Group 9: Large Guardian Pastoral/Mountain Dogs,Guardian Dog,None,27.0,34.0,30.5,75.0,140.0,107.5,9.0,11.0,10.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254,Cesky Terrier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182.0,179.0,182.0,174.0,179.2
255,Cirnechi dell'Etna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183.0,162.0,117.0,NaN,154.0
256,Bergamasco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,184.0,174.0,96.0,NaN,151.3
257,Sloughi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185.0,NaN,NaN,NaN,185.0
258,Norwegian Lundehund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,188.0,182.0,184.0,175.0,182.2

In [89]:
clean_merged_df.columns
clean_merged_df.dropna()

,Breed,Breed Group AKC,Breed Group CKC,Breed Group UKC,CKC Subgroup,height_low_inches,height_high_inches,average height,weight_low_lbs,weight_high_lbs,average weight,Lifespan Low,Lifespan High,average lifespan,2016 Rank,2015 Rank,2014 Rank,2013 Rank,Average Rank
0,Affenpinscher,Toy Group,Group 5: Pinschers and Schnauzers,Companion Dog,5-B: Small Pinschers and Schnauzers,9.0,12.0,10.5,8.0,12.0,10.0,12.0,15.0,13.5,149.0,136.0,144.0,143.0,143.00
1,Afghan Hound,Hound Group,Group 8: Sighthound Breeds,Sighthound & Pariah,8-B: Long Haired Sighthounds,25.0,27.0,26.0,50.0,60.0,55.0,12.0,15.0,13.5,113.0,100.0,98.0,95.0,101.50
5,Akita,Working Group,Group 2: Spitz and Nordic Breeds,Northern,2-C: Asian Spitz Breeds,26.0,28.0,27.0,80.0,120.0,100.0,10.0,13.0,11.5,46.0,46.0,46.0,45.0,45.75
8,Alaskan Malamute,Working Group,Group 2: Spitz and Nordic Breeds,Northern,2-D: Nordic Sled Dogs,23.0,28.0,25.5,75.0,124.0,99.5,10.0,14.0,12.0,59.0,54.0,54.0,57.0,56.00
12,American Eskimo Dog,Non-Sporting Group,Group 2: Spitz and Nordic Breeds,Northern,2-A: American Spitz Breeds,9.0,19.0,14.0,25.0,30.0,27.5,13.0,15.0,14.0,122.0,118.0,120.0,110.0,117.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Welsh Springer Spaniel,Sporting Group,Group 11: Gun Dog Breeds,Gun Dog,None,17.0,19.0,18.0,35.0,55.0,45.0,12.0,15.0,13.5,123.0,128.0,133.0,124.0,127.00
188,Welsh Terrier,Terrier Group,Group 6: Terrier Breeds,Terrier,None,14.0,16.0,15.0,19.0,22.0,20.5,12.0,15.0,13.5,111.0,108.0,106.0,104.0,107.25
189,West Highland White Terrier,Terrier Group,Group 6: Terrier Breeds,Terrier,6-C: Small Terriers,10.0,12.0,11.0,15.0,22.0,18.5,13.0,15.0,14.0,41.0,41.0,38.0,36.0,39.00
192,Wire Fox Terrier,Terrier Group,Group 6: Terrier Breeds,Terrier,6-B: Medium Terriers,15.0,16.0,15.5,15.0,18.0,16.5,12.0,15.0,13.5,101.0,94.0,95.0,96.0,96.50
194,Yorkshire Terrier,Toy Group,Group 6: Terrier Breeds,Companion Dog,6-C: Small Terriers,6.0,8.0,7.0,4.0,7.0,5.5,11.0,15.0,13.0,9.0,7.0,6.0,6.0,7.00

In [90]:
#connection_string = "postgres:@localhost:5433/"
#engine = create_engine(f'postgresql://{connection_string}')

In [91]:
engine = create_engine(f'postgresql+psycopg2://postgres:Belinda@8893@localhost:5432/dog_breeds')

In [92]:
breed_data_df.to_sql(name='breed', con=engine, if_exists='append', index=False)

In [93]:
popular_breed_data_df.to_sql(name='popular', con=engine, if_exists='append', index=False)

In [94]:
clean_merged_df.to_csv('dog_breeds')